---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";

export async function getStaticPaths() {
    const frameworks = await getCollection('frameworks');

    return frameworks.map((framework) => ({
        params: {id: framework.slug},
        props: {framework}
    }))
}

const { framework } = Astro.props
const { data, slug } = framework
const { title, img, language, destination } = data

const { Content } = await render(framework)
---

<Layout title={`${title} - Framework`}>
    <Title>
        <span>Frameworks</span> 💼
    </Title>
    <div class="image-container">
        <aside>
            <img
             transition:name=`img-${slug}` 
             src={`/${img}`} 
             alt={title} 
             />
        </aside>
    </div>

    <main>
        <h1>{title}</h1>
        <h2>Language: <span style="color: green">{language}</span></h2>
        <h2>Destination: <span style="color: orange">{destination}</span></h2>
        <div class="Content">
            <Content />
        </div>
        <a href="/#frameworks"> ← Go Back</a>
    </main>
</Layout>

<style>
    .image-container {
        float: left;
        width: 200px;
        margin-right: 4rem;
        display: flex;
        align-items: flex-start;
    }

    .image-container aside {
        flex: 0 0 200px;
        margin-right: 20px;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    main {
        flex: 1;
        color: white;
    }

    a {
        font-size: 1.2rem;
        color: rgb(0, 217, 255);
        float: right;
        text-decoration: none;
        transition: transform 0.3s ease;
        margin: 2rem;
    }

    a:hover {
        transform: translateX(-10px);
        transition: transform 0.3s ease;
    }

    .Content {
        display: flex;
        flex-direction: column;
    }
</style>