---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';

const tools = await getCollection('tools');
---

<Layout title="Favourite Tools.">
	<main>
		<div class="tools-cards">
			{
				tools.map((tool: { slug: any; data: any; }) => {
					const {slug, data} = tool
					const {title, description, img, url, paid} = data

					return (
						<Card
							title={title}
							description={description}
							img={img}
							url={url}
							paid={paid}
						/>
					)
				})
			}
		</div>
	</main>
</Layout>

<style>
	main {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;
	}
	.tools-cards {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
	@media (max-width: 800px) {
		.tools-cards {
			grid-template-columns: 1fr;
		}
	}
</style>
