---
import Card from '../components/Card.astro';
import CardLang from '../components/CardLang.astro';
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import AstroHero from '../components/AstroHero.astro';

import { getCollection } from 'astro:content';
import FrameworkCard from '../components/FrameworkCard.astro';

const tools = await getCollection('tools');
const languages = await getCollection('languages');
const frameworks = await getCollection('frameworks');
---

<Layout title="Favourite Tools.">
	<main>
		<Title>
			<span>Tools For</span><br>
			<span>Developing</span> 💻
		</Title>
		<div id="tools" class="tools-cards">
			{
				tools.map((tool: { slug: any; data: any; }) => {
					const {slug, data} = tool
					const {title, description, img, url, paid} = data

					return (
						<Card
							title={title}
							description={description}
							img={img}
							url={url}
							paid={paid}
							slug={slug}
						/>
					)
				})
			}
		</div>
		<Title>
			<span>Languages</span> 🛠
		</Title>
		<div id="languages" class="tools-cards">
			{
				languages.map((language: { slug: any; data: any; }) => {
					const {slug, data} = language
					const {title, destination, difficulty, description, img, docs} = data

					return (
						<CardLang
							title={title}
							description={description}
							img={img}
							docs={docs}
							difficulty={difficulty}
							destination={destination}
							slug={slug}
						/>
					)
				})
			}
		</div>
		<Title>
			<span>Frameworks</span> 💼
		</Title>
		<!-- Astro Special Card Here! -->
		<AstroHero />
		<div id="frameworks" class="tools-cards">
			{
				frameworks.map((framework: { slug: any; data: any; }) => {
					const {slug, data} = framework
					const {title, language, difficulty, description, img, docs} = data

					return (
						<FrameworkCard
							title={title}
							description={description}
							img={img}
							docs={docs}
							difficulty={difficulty}
							language={language}
							slug={slug}
						/>
					)
				})
			}
		</div>
	</main>
</Layout>

<style>
	.tools-cards {
		margin-top: 4rem;
		margin-bottom: 4rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		
	}

	@media (max-width: 800px) {
		.tools-cards {
			grid-template-columns: 1fr;
		}
	}
</style>
